@import ./__article-info/card__article-info
@import ./__avatar/card__avatar
@import ./__date/card__date
@import ./__description/card__description
@import ./__like/card__like
@import ./__tag/card__tag
@import ./__tag-list/card__tag-list
@import ./__title/card__title
@import ./__user-info/card__user-info
@import ./__username/card__username
@import ./__header/card__header

.card
  height: 140px
  background-color: #FFFFFF
  box-shadow: 0 4px 12px 0 #00000026
  padding: 15px 14px 24px 16px
  box-sizing: border-box
  cursor: pointer
  border-radius: 5px